body {
    user-select: none;
    overflow: hidden;
    text-align: center;
    padding: 0;
}



#item {
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 2px;
    border-style: dashed;
    width: 90vw;
    height: 300px;
    display: inline-block;
    position: fixed;
    bottom: 5vw;
    left: 5vw;

}

.shipBlock {
    line-height: 15px;
    height: 15px;
    width: 15px;
    border: 1.5px solid;
    border-color: black;

}

.mapBlock {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    transition: all 0.2s;
}

.canRemove {
    cursor: all-scroll;
}

.mapBlock_ {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;

}

.ships {
    position: relative;
    left: 100px;
    top: 0px;
    transition-property: opacity, transform;
    transition-duration: 0.1s, 0.2s;
    width: fit-content;
}

.ships:hover {
    cursor: pointer;
}

.progress {
    background-color: aliceblue;
    outline: 2px solid whitesmoke;

}

.progress-bar {
    background-color: orange;
    transition: width 0.1s;
}

button {
    border: 1.5px solid #969696;
    height: 30px;
    width: 100px;
    background-color: #313131;
    color: whitesmoke;
    box-shadow: 0px 4px 8px black;
}

button:active {
    background-color: #252525;

}

button:hover {
    cursor: pointer;
}

#loadDiv {
    transition: opacity 0.5s;
    opacity: 1;
}

#pregame {
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}


#createGamesDiv {
    position: absolute;
    bottom: 48px;
}

li {
    height: 50px;
    line-height: 50px;
    border-style: none none solid none;
    border-color: rgba(31, 31, 31, 0.5);
    list-style: none;
    padding-left: 16px;

}

input {
    background-color: #3A3A3A;
    border-style: none;
    height: 30px;
    width: 200px;
    color: whitesmoke;
}

#existedGames {
    width: 90%;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
}

.noborder {
    border: 0px;
}

.borderBottom {
    border: 1px
}

#chooseFaction {
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 25vh;
    box-shadow: 0px 2px 10px 2px;
    line-height: 20vh;
}

div {
    transition: opacity 0.5s;

}

#gameinfo {
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 2px;
    border-style: dashed;
    width: 20vw;
    height: 300px;
    display: inline-block;
    position: fixed;
    bottom: 400px;
    left: 40vw;
    line-height: 50px;

}

#gameinfo p {
    display: inline;
}

#noticeContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    text-align: center;
}

.notice {
    padding: 16px;
    margin-top: 16px;
    text-align: left;
    display: inline-block;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    background-color: rgb(18, 102, 241, 0.8);
    border-radius: 4px;
    width: 300px;
    height: 60px;
    color: white;
    transition: opacity 0.3s;
    font-size: large;
}

#WSLoadDiv {
    width: 40vw;
    left: 30vw;
    top: 30vh;
}

#gameEndDiv{
    width: 40vw;
    left: 30vw;
    top: 30vh;

}

.card {
    height: min-content;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 0px 2px 10px 2px;
    line-height: 10vh;

}


#WSLoadDiv:hover {
    cursor: wait;
}


.loader {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(18, 102, 241, 0.8);
    transition: all 0.2s;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

