body {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

table{
    border-spacing: 0;
}

td{
    border-bottom: 1px solid #000;
    padding: 6px;
}

tr{
    transition: all 0.2s;
}

.oddtr{
    background-color: lightblue;
    color:"#083F7B";
}

.oddtr:hover{
    background-color: hsl(195, 53%, 70%);
}

.eventr:hover{
    background-color: hsl(0, 0%, 70%);
}

.eventr{
    background-color: lightgray;
    color:black;
}

#item {
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 2px;
    border-style: dashed;
    width: 55vw;
    height: 300px;
    display: inline-block;
    position: fixed;
    bottom: 5vw;
    left: 5vw;

}

#gameinfo {
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 2px;
    border-style: dashed;
    width: 30vw;
    height: 300px;
    display: inline-block;
    line-height: 40px;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
}

#gameinfo p {
    display: inline;
}

.shipBlock {
    line-height: 15px;
    height: 15px;
    width: 15px;
    border: 1.5px solid;
    border-color: black;

}

.mapBlock {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    transition: all 0.2s;
}

.canRemove {
    cursor: all-scroll;
}

.mapBlock_ {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;

}

.ships {
    position: relative;
    left: 100px;
    top: 0px;
    transition-property: opacity, transform;
    transition-duration: 0.1s, 0.2s;
    width: -moz-fit-content;
    width: fit-content;
}

.ships:hover {
    cursor: pointer;
}

.progress {
    background-color: aliceblue;
    outline: 2px solid whitesmoke;

}

.progress-bar {
    background-color: orange;
    transition: width 0.1s;
}

button {
    border: 1.5px solid #969696;
    height: 30px;
    width: 100px;
    background-color: #313131;
    color: whitesmoke;
    box-shadow: 0px 4px 8px black;
    transition: all 0.2s;
}

button:active {
    background-color: #252525;

}

button:hover {
    cursor: pointer;
}

#loadDiv {
    transition: opacity 0.5s;
    opacity: 1;
}

#pregame {
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}


#createGamesDiv {
    position: absolute;
    bottom: 48px;
}


input {
    background-color: #3A3A3A;
    border-style: none;
    height: 30px;
    width: 200px;
    color: whitesmoke;
}

#existedGames {
    width: 90%;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
}

.noborder {
    border: 0px;
}

.borderBottom {
    border: 1px
}

#chooseFaction {
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 25vh;
    box-shadow: 0px 2px 10px 2px;
    line-height: 20vh;
}

div {
    transition: opacity 0.5s;

}


#noticeContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    text-align: center;
}

.notice {
    padding: 16px;
    margin-top: 16px;
    text-align: left;
    display: inline-block;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    background-color: rgb(18, 102, 241, 0.8);
    border-radius: 4px;
    width: 300px;
    height: 60px;
    color: white;
    transition: opacity 0.3s;
    font-size: large;
}


.card {
    height: min-content;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 0px 2px 10px 2px;
    line-height: 10vh;
    width: 40vw;
    left: 30vw;
    top: 22vh;

}


#WSLoadDiv:hover {
    cursor: wait;
}


.loader {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(18, 102, 241, 0.8);
    transition: all 0.2s;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.tagClass {
    display: inline-block;
    border: 1px dashed gray;
    line-height: 40px;
    width: 128px;
    height: 128px;
}


#gameSettingDiv {
    vertical-align: top;
    height: 80vh;
    top: 10vh;
    width: 80vw;
    left: 10vw;
    text-align: left;
    padding: 16px;
    line-height: normal;
}

#gameSettingDiv li {
    height: 128px;
    padding-top: 8px;
    border-style: none none dashed none;
    border-width: 2px;
    border-color: rgba(31, 31, 31, 0.5);
    list-style: none;
    padding-left: 16px;
}

.tagContainer {
    display: inline-block;
    border: 1px dashed gray;
    line-height: 32px;
    width: 256px;
    height: 204px;
    padding: 8px;
}

.tag {
    display: inline-block;
    border: 1px solid gray;
    cursor: pointer;
    padding: 2px;
    margin: 4px;
    width: 96px;
    text-align: center;
    transition: all 0.2s;
}

.tag:hover {
    background-color: #bababa;
}

.tagSelected {
    border: 1px solid orange;
    background-color: lightblue !important;
}

.closeCardBnt {
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: larger;
    line-height: normal;
}

.closeCardBnt:hover {
    cursor: pointer;
}