body {
    user-select: none;
    overflow: hidden;
    text-align: center;
    padding: 0;
}



#item {
    position: absolute;
    bottom: 100px;
    background-color: lightblue;
    border-radius: 2px;
    border-style: dashed;
    width: 90vw;
    height: 300px;
    display: inline-block;
    position: fixed;
    bottom: 5vw;
    left: 5vw;

}

.shipblock {
    line-height: 15px;
    height: 15px;
    width: 15px;
    border: 1.5px solid;
    border-color: black;

}

.mapblock {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    transition: all 0.2s;
}

.canRemove {
    cursor: all-scroll;
}

.mapblock_ {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;

}

.ships {
    position: relative;
    left: 100px;
    top: 0px;
    transition-property: opacity, transform;
    transition-duration: 0.1s, 0.2s;
    width: fit-content;
}

.ships:hover {
    cursor: pointer;
}

.progress {
    background-color: aliceblue;
    outline: 2px solid whitesmoke;

}

.progress-bar {
    background-color: orange;
    transition: width 0.1s;
}

button {
    border: 1.5px solid #969696;
    height: 30px;
    width: 100px;
    background-color: #313131;
    color: whitesmoke;
    box-shadow: 0px 4px 8px black;
}

button:hover {
    cursor: pointer;
}

#loaddiv {
    transition: opacity 0.5s;
    opacity: 1;
}

#pregame {
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

body {
    overflow: hidden;
}

#createGamesDiv {
    position: absolute;
    bottom: 48px;
}

li {
    height: 50px;
    line-height: 50px;
    border-style: none none solid none;
    border-color: rgba(31, 31, 31, 0.5);
    list-style: none;
    padding-left: 16px;

}

input {
    background-color: #3A3A3A;
    border-style: none;
    height: 30px;
    width: 200px;
    color: whitesmoke;
}

#existedGames {
    width: 90%;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
}

.noborder {
    border: 0px;
}

.borderbottom {
    border: 1px
}